{% if form.errors %}
<div class="alert alert-danger">
    <p>{{ 'general.forms.post_error' | t }}</p>

    <ul class="disc">
        {% assign message = 'contact.form.message' | t %}
        {% for field in form.errors %}

        {% if field == 'form' %}
        <li>
            {{ form.errors.messages[field] }}
        </li>
        {% else %}
        <li>
            {% assign field_name = field | replace: 'body', message %}
            {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</div>
{% endif %}
