<script id="storefront.list-settings-dialog.tpl" type="text/ng-template">
    <div class="ajaxify-modal is-visible" id="ajaxifyModal" style="opacity: 1; width:600px;">
        <div class="ajaxifyCart--content" id="ajaxifyCart">
            <div style="position: relative;padding-bottom: 30px;">
                <button style="position: fixed;top: 21px;" class="ajaxifyCart--close" title="{{ 'cart.general.close_cart' | t }}" ng-click="close()">{{ 'cart.general.close_cart' | t }}</button>
                <h1 class="h2">Lists settings</h1>
            </div>
            <div class="product-list-modal-wrapper">
                <!--lists-setting-->
                <div style="position: relative;overflow: auto;" ng-if="!listCreation" class="cart-row list-modal-row-fix">
                    <table width="100%">
                        <tr style="background-color:#ececec;">
                            <th>Your lists</th>
                            <th>Default</th>
                            <!--<th>Privacy</th>-->
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="list in dialogData">
                            <th ng-bind="list.name"></th>
                            <th>
                                <input ng-click="setDefault(list)" ng-checked="list.default" name="response" type="radio" />
                            </th>
                            <!--<th ng-bind="list.default"></th>-->
                            <th>
                                <input ng-model="list.delete" type="checkbox" />
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="cart-row product-list-modal-borders product-list-modal-borders">
                    <div class="grid-item text-right">
                        <button class="btn" >
                            <span ng-click="close()">{{ 'wishlist.general.cancel' | t }}</span>
                        </button>
                        <button class="btn" >
                            <span ng-click="submitSettings()">{{ 'Submit' | t }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ajaxifyCart-overlay"></div>
</script>
