<script id="storefront.select-address-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()" title="Select address" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select address</h4>
    </div>
    <div class="modal-body">
        <div class="container-bordered container-drain">
            <div class="row" ng-repeat="address in addresses">
                <div class="col-md-5">
                    <vc-address address="address">
                        <address-header>
                            <div class="h5" ng-bind="address.name"></div>
                        </address-header>
                    </vc-address>
                </div>        
                <div class="col-md-3 form-group">
                    <a class="btn btn-default form-control" ng-click="close(address)">Select</a>
                </div>
            </div>
        </div>
    </div>
</script>
