<script id="storefront.select-payment-method-dialog.tpl" type="text/ng-template">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()" title="Select payment method" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select payment method</h4>
    </div>
    <div class="modal-body">
        <div class="container-bordered container-drain">
            <div class="row" ng-repeat="paymentMethod in availPaymentMethods">
                <div class="col-md-5">
                    <div class="col-xs-2 col-md-1">
                        <img class="img-responsive" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ paymentMethod.imgUrl }}{% endraw %}" />
                    </div>
                    <div class="h5">
                        <span ng-bind="paymentMethod.name"></span>
                        <span><small ng-bind="paymentMethod.description"></small></span>
                    </div>
                </div>
                <div class="col-md-2"><srong>1.3 mi</srong></div>
                <div class="col-md-2">1000 items available</div>
                <div class="col-md-3 form-group">               
                    <a class="btn btn-default form-control" ng-click="close(paymentMethod)">Select</a>
                </div>
            </div>
        </div>
    </div>
</script>
