{% assign found = false %}
{% for blog in blogs %}
    {% for article in blog.articles %}
        {% assign found = article.is_sticked %}
        {% if found %}
            <aside class="aside-box featured-article text-center">
                <div class="aside-img">
                    <img src="{{ article.image_url }}" class="aside-pic">
                </div>
                <div class="aside-t text-center">{{ article.title }}</div>
                <div class="learn-more">
                    <a href="{{ article.url }}" class="btn btn-alt btn-lg">{{ 'blogs.featured.learn_more' | t }}</a>
                </div>
            </aside>
            {% break %}
        {% endif %}
    {% endfor %}
    {% if found %}{% break %}{% endif %}
{% endfor %}
