<header class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" itemscope itemtype="http://schema.org/Organization">
                <a href="{{ '/' | absolute_url }}" itemprop="url">
                    {% if settings.logo_use_image %}
                        <img alt="{{ shop.name }}" src="{{ 'logo.png' | asset_url }}" itemprop="logo" />
                    {% else %}
                        {{ shop.name }}
                    {% endif %}
                </a>
            </div>
        </div>
        {% include 'main/header/links' %}
    </div>
</header>
