<nav class="navbar navbar-inverse-light navbar-static-top" role="navigation">
    <div class="container">
        <div class="row">
            {% include 'main/header/nav/top-level-collections' %}
            <ul class="nav navbar-nav navbar-right">
                {% if template != 'bulk-order' %}
                    {% include 'main/header/nav/bulk-order-form' %}
                {% endif %}
                <li>
                    <a class="text-uppercase text-condensed" href="{{ 'cart' | absolute_url }}" ng-controller="cartBarController">
                        <i class="cart-ico fa fa-shopping-cart"></i>&ensp;{{ 'layout.cart.cart' | t }}&nbsp;<span ng-if="cartItemsCount > 0" ng-cloak>(<span ng-bind="cartItemsCount"></span>)</span>
                    </a>
                </li>
            </ul>
            {% include 'main/header/nav/search-bar' %}
        </div>
    </div>
</nav>
