<nav class="navbar navbar-inverse-light navbar-static-top" role="navigation">
    <div class="container">
        {% include 'main/header/nav/top-level-collections' %}
        <ul class="nav navbar-nav navbar-right">
            {% if template != 'bulk-order' %}
                {% include 'main/header/nav/bulk-order-form' %}
            {% endif %}
            {% include 'main/header/shared/product-compare-list-bar' %}
            {% include 'main/header/shared/cart' %}
        </ul>
        {% include 'shared/search-bar' %}
    </div>
</nav>
