{% layout settings.customer_layout %}
<main class="main" role="main">
    <aside class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{ 'customer.invite.confirmation' | t }}</h1>
            </div>
        </div>
    </aside>
</main>
