<div class="navbar navbar-default navbar-static-bottom hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="row border-top">
            <div ng-class="'col-md-' + (12 / 2 - columnCount)"></div>
                <div class="col-md-2" ng-init="columnCount = columnCount + 1">
                    <h4>{{ 'layout.footer.company_information' | t }}</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Supplier Overview</a></li>
                        <li><a href="#">Worlwide</a></li>
                    </ul>
                </div>
                <div class="col-md-2" ng-init="columnCount = columnCount + 1">
                    <h4>{{ 'layout.footer.customer_support' | t }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-archive"></i> <a href="#">Catalog Request</a></li>
                        <li><i class="fa fa-envelope"></i> <a href="#">Contact Us</a></li>
                        <li><i class="fa fa-bullhorn"></i> <a href="#">Feedback</a></li>
                        <li><i class="fa fa-map-marker"></i> <a href="#">Find A Branch</a></li>
                    </ul>
                </div>
                <div class="col-md-2" ng-init="columnCount = columnCount + 1">
                    <h4>{{ 'layout.footer.order_support' | t }}</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Pick-Up</a></li>
                        <li><a href="#">Auto-Reorder</a></li>
                        <li><a href="#">Special Orders</a></li>
                        <li><a href="#">Returns & Cancellations</a></li>
                    </ul>
                </div>

                <div class="col-md-2" ng-init="columnCount = columnCount + 1">
                    <h4>{{ 'layout.footer.resources' | t }}</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Catalog</a></li>
                        <li><a href="#">Hot Buys</a></li>
                        <li><a href="#">Rebates</a></li>
                        <li><a href="#">Replacement Parts</a></li>
                        <li><a href="#">Today's features</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
