@import "mixins/custom/_grid-framework.scss";
@import "mixins/custom/_grid.scss";
@import "mixins/custom/_buttons.scss";
@import "mixins/custom/_button-groups.scss";
@import "mixins/custom/_navbar.scss";

@import "custom/_grid.scss";
@import "custom/_type.scss";
@import "custom/_scaffolding.scss";
@import "custom/_breadcrumb.scss";
@import "custom/_tables.scss";
@import "custom/_dropdowns.scss";
@import "custom/_buttons.scss";
@import "custom/_button-groups.scss";
@import "custom/_forms.scss";
@import "custom/_input-groups.scss";
@import "custom/_checkboxes.scss";
@import "custom/_panels.scss";
@import "custom/_navbar.scss";
@import "custom/_navs.scss";
@import "custom/_popover.scss";
@import "custom/_code.scss";
@import "custom/_responsive-utilities.scss";
@import "custom/_toc.scss";
@import "custom/_icon.scss";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  .navbar-default {
    border-color: $brand-primary;
    border-width: 4px 0 0 0;
    position: relative;
    z-index: 9999;
  }
}

footer {
  flex: 0 0 auto;
}

#all-products-popover + .popover {
  width: 480px;
}

#bulk-order-popover + .popover {
  width: 305px;
}

main {
  padding-top: $navbar-margin-bottom;
  position: relative;
  flex: 1 0 auto;

  @media (max-width: $screen-sm-max) {
    .navbar-fixed-top + .navbar-fixed-top + & {
      margin-top: ($navbar-height + 1px) * 2 + $navbar-margin-bottom; // 1px border
    }

    .navbar-fixed-top + .navbar-fixed-top + .navbar-fixed-top:not(.ng-hide) + & {
      margin-top: ($navbar-height + 1px) * 3 + $navbar-margin-bottom; // 1px border
    }
  }

  padding-bottom: $navbar-margin-top;
}

.mobile-app {
  width: 120px;
}

.btn-youtube {
  @include btn-social(#e52d27);
}

.ng-submitted input.ng-invalid.ng-invalid-required,
.ng-submitted input.ng-invalid.ng-invalid-email,
.ng-submitted input.ng-invalid.ng-invalid-pattern   {
  border-color: #883333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-group.vc-flying-placeholder-group-class {
  margin-top: $font-size-base;
  position: relative;
}

label.vc-flying-placeholder-class {
  background: $input-bg;
  color: $text-muted;
  font-size: $font-size-base;
  font-weight: normal;
  cursor: text;
  margin: 0;
  padding: 0 $padding-xs-horizontal;
  position: absolute;
  //transition: top 0.25s ease;
  pointer-events: none;
  transition: 0.2s ease all;
}

input[vc-flying-placeholder]:focus ~ label.vc-flying-placeholder-class,
textarea[vc-flying-placeholder]:focus ~ label.vc-flying-placeholder-class,
select[vc-flying-placeholder]:focus ~ label.vc-flying-placeholder-class {
  color: $input-border-focus;
}

input[vc-flying-placeholder]:disabled ~ label.vc-flying-placeholder-class,
textarea[vc-flying-placeholder]:disabled ~ label.vc-flying-placeholder-class,
select[vc-flying-placeholder]:disabled ~ label.vc-flying-placeholder-class {
  background-color: $input-bg-disabled;
  color: $text-muted;
  cursor: $cursor-disabled;
}

.keyuped input[vc-flying-placeholder] ~ label.vc-flying-placeholder-class,
.keyuped textarea[vc-flying-placeholder] ~ label.vc-flying-placeholder-class,
.keyuped select[vc-flying-placeholder] ~ label.vc-flying-placeholder-class {
    font-size: $font-size-small;
    line-height: $line-height-small;
    cursor: default;
    top: floor(($line-height-small-computed + $padding-xs-vertical) / 2) * -1;
  }


@mixin vc-flying-placeholder-size($input-class, $padding-horizontal, $padding-vertical) {
  input[vc-flying-placeholder],
  textarea[vc-flying-placeholder],
  select[vc-flying-placeholder] {
    &#{$input-class} ~ label.vc-flying-placeholder-class {
      left: $padding-horizontal - $padding-xs-horizontal + 1px; // 1px = border width
      top: $padding-vertical + 1px; // 1px = border
    }
  }
}

@include vc-flying-placeholder-size('', $padding-base-horizontal, $padding-base-vertical);
@include vc-flying-placeholder-size('.input-lg', $padding-base-horizontal, $padding-base-vertical);
@include vc-flying-placeholder-size('.input-sm', $padding-base-horizontal, $padding-base-vertical);

