/* Forms */
input,
button {
  font-family: "Roboto Condensed";
}

/* Buttons */
.btn {
  font-weight: 700;
  line-height: 16px;
  padding: 10px 18px;
  text-transform: uppercase;
}

.btn.btn-alt {
  background: none;
  border-color: $headerBg;
  border-width: 2px;
  color: $headerBg;
}

.btn.btn-alt:hover {
  background: $btnAltBgOver;
  border-color: $btnAltBrdOver;
  color: #fff;
}

.btn.btn-default:hover {
  background: $btnAltBgOver;
  border-color: $btnAltBrdOver;
}

.btn.btn-primary.btn-alt {
  border-color: #be2122;
  color: #be2122;
}

.btn.btn-primary.btn-alt:hover {
  background: #be2122;
  border-color: #be2122;
  color: #fff;
}

.btn.btn-lg {
  padding: 14px 35px;
}

.btn.disabled,
.btn.disabled:focus,
.btn.disabled:hover,
.btn.btn-alt.disabled,
.btn.btn-alt.disabled:focus,
.btn.btn-alt.disabled:hover {}

.btn[disabled],
.btn[disabled]:focus,
.btn[disabled]:hover,
.btn.btn-alt[disabled],
.btn.btn-alt[disabled]:focus,
.btn.btn-alt[disabled]:hover {
  background-color: $grayLightSecondaryColor;
  border: 2px solid $grayColor;
  color: #ccc;
  cursor: default;
}

/* Headings */
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 34px;
  font-weight: 300;
  text-transform: none;
}

h1 + p {
  color: #29333b;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 300;
}

h1 a {
  color: #9a9ea3;
  float: right;
  font-family: Arial;
  font-size: 12px;
  margin: 10px 0 0;
}

/* Images */
img {
  max-width: 100%;
}

.img-ico {
  max-width: 100%;
}

/* Lists */
ol,
ul {
  margin: 0;
}

ol:not(.list-styled),
ul:not(.list-styled) {
  list-style: none;
  padding: 0;
}

ul.inline {
  li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

dd *:only-child {
  margin-bottom: 0;
}

/* Helpers */
.form-control {
  box-shadow: none;
  height: 40px;
}

.form-control:focus {
  border-width: 2px;
  box-shadow: none;
}

.dropdown-menu {
  border-radius: 0;
  margin: 0 0 0 -1px;
}

.dropdown-ico {
  color: #10acd2;
  font-size: 20px;
  line-height: 10px;
  vertical-align: -2px;
}

hr {
  border-top: 3px solid $grayColor;
  margin: 17px 0 20px;
}

.count {
  color: $graySecondaryColor;
}

.list-price {
  color: #666;
  font-family: "Roboto Condensed";
}

.price-value,
.price-unit {
  display: inline-block;
}

.price-value {
  color: $priceValueColor;
  font-weight: 700;
}

.price-label,
.price-value,
.price-unit {
  font-family: "Roboto Condensed";
}

.add-to-list {
  font-size: 12px;
  font-weight: 700;
}

.feedback {
  border-top: 1px solid $grayColor;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 10px 0;

  .fa {
    color: $graySecondaryColor;
    font-size: 16px;
    margin: 0 5px 0 0;
  }

  a {
    font-weight: 700;
  }
}

/* General */
#layout {}

/* Header */
.top {
  background: #fff;
  border-top: 4px solid $brand-primary;
  box-sizing: border-box;
  height: 35px;

  .dropdown-menu {
    margin-left: 10px;

    li {
      float: none;
      padding: 0;
    }

    a {
      color: inherit;
    }
  }

  .top-links {
    float: left;
  }

  .top-auth {
    float: right;
  }

  ul li {
    float: left;
    font-size: 11px;
    font-weight: 700;
    line-height: 31px;
    position: relative;
    text-transform: capitalize;
  }

  ul li:first-child {
    padding-left: 0;
  }

  ul li + li::before {
    color: $grayColor;
    content: "|";
    float: left;
    margin: 0 6px;
  }

  .sign-in {
    text-transform: uppercase;

    a {
      color: $brand-primary;
    }

    a:hover {
      color: darken($brand-primary, 15%);
    }
  }
}

/* Header */
.header {
  background: $headerBg;
  height: 70px;

  .header-inner {
    align-items: center;
    display: flex;
    height: inherit;
  }

  .header-brand {
    a {
      color: #fff;
      font-family: "Roboto Condensed";
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }

    svg {
      width: 160px;
    }
  }

  .header-links {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    li {
      float: left;
      padding: 0 10px;
    }

    li:last-child {
      padding-right: 0;
    }

    a {
      color: #fff;
      font-size: 14px;
    }

    .dropdown-menu {
      margin-left: 10px;

      li {
        float: none;
        padding: 0;
      }

      a {
        color: inherit;
      }
    }

    .links:first-child {
      margin: 0 0 5px;

      a {
        color: $graySecondaryColor;
        font-size: 12px;
      }
    }
  }

  .header-links-mobile,
  .header-search-mobile {
    display: none;
  }
}

/* Navbar */
.navbar {
  border-width: 1px 0;
  font-family: "Roboto Condensed";

  a {
    font-weight: 700;
  }

  .dropdown-ico {
    margin-left: 5px;
    vertical-align: baseline;
  }

  .cart-ico {
    font-size: 18px;
    margin-right: 10px;
  }

  .navbar-all {
    border-left: 1px solid $navbar-default-border;
    border-right: 1px solid $navbar-default-border;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    width: 170px;

    a {
      color: #fff;
      display: block;
    }

    .dropdown-menu {
      padding: 10px;
      width: 525px;

      a {
        font-family: Arial;
        font-weight: normal;
        line-height: 1.4;
        padding: 5px;
        text-transform: none;
      }

      a:hover {
        background: $grayLightSecondaryColor;
      }
    }

    .dropdown-head {
      border-bottom: 1px solid #ccc;
      margin: 0 0 15px;
      padding: 0 10px 10px;

      .head-ico {
        font-size: 18px;
      }

      li {
        float: left;
      }

      li + li {
        margin: 0 0 0 10px;
      }
    }

    .dropdown-body ul + ul {
      border-left: 1px solid #ccc;
    }
  }

  .navbar-all.open {
    background: $grayLightColor;

    a {
      color: #292929;
    }

    .dropdown-ico {
      color: #666;
    }
  }

  .navbar-form {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    .form-group {
      width: 100%;
    }

    .form-control {
      background: #fff;
      border: none;
      border-radius: 0;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
      font-weight: normal;
      height: 100%;
      width: 100%;
    }

    .btn {
      border-radius: 0;
      padding: 0 20px;
    }
  }

  .navbar-inner {
    display: flex;
  }

  .navbar-links {
    ul,
    li {
      display: flex;
      height: 100%;
    }

    li {
      border-right: 1px solid $navbar-default-border;
    }

    li > a {
      align-items: center;
      color: #fff;
      display: flex;
      height: inherit;
      padding: 0 20px;
      text-transform: uppercase;
    }

    .dropdown.open {
      > a {
        background: $grayLightColor;
        color: #292929;
      }

      .dropdown-ico {
        color: #666;
      }
    }

    .dropdown-menu {
      width: 260px;
    }

    .dropdown-head {
      background: $grayLightColor;
      font-family: "Roboto Condensed";
      font-weight: 700;
      margin: (-5px) 0;
      padding: 10px 20px;
      text-transform: uppercase;

      a {
        float: right;
      }
    }

    .dropdown-body {
      padding: 10px 20px;

      label {
        font-weight: normal;
        line-height: 40px;
        margin: 0;
      }

      .show-more {
        font-family: Arial;
        font-size: 12px;
      }
    }
  }
}

/* Main */
.main {
  margin-bottom: 40px;
}

.sidebar {
  padding: 0;
}

.content {
  padding: 0 0 0 10px;
}

.section {
  margin: 0 0 20px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 50px;
  padding: 10px;
}

.toolbar {
  border-bottom: 1px solid $graySecondaryColor;
  margin: 0 0 15px;
  padding: 0 0 5px;

  .breadcrumb {
    padding: 15px 0;
  }

  .toolbar-actions {
    color: $graySecondaryColor;
    font-family: "Roboto Condensed";
    font-weight: 300;
    margin: 15px 0 0;

    li {
      display: inline-block;
      margin: 0 0 0 10px;
    }

    .fa {
      font-size: 16px;
      font-weight: 400;
      padding: 0 10px 0 0;
    }

    a {
      color: $graySecondaryColor;
    }
  }
}

.breadcrumb {
  margin: 0;
  padding: 0;
}

.breadcrumb > li {
  font-size: 12px;
}

.breadcrumb > li + li::before {
  font-size: 11px;
}

.breadcrumb .fa {
  color: $graySecondaryColor;
  cursor: pointer;
  font-size: 11px;
  margin: 0 0 0 6px;
}

/* Accordeon */
.panel-group .panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin: 0;
}

.panel-default > .panel-heading {
  background: $grayLightSecondaryColor;
  margin: 0 0 2px;
  position: relative;
  padding: 0;

  a {
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 50%;
    text-transform: capitalize;
    transform: translateY(-50%);
  }
}

.panel-title {
  display: block;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
}

.panel-title:not(div) {
  cursor: pointer;
  position: relative;

  &::after {
    color: $link-color;
    content: "";
    font-family: "FontAwesome";
    font-size: 20px;
    margin: (-2px) 0 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.panel-group .panel-heading.collapsed {
  .panel-title:not(span)::after {
    content: "";
  }
}

.panel-collapse {
  border: 1px solid $grayLightColor;
  margin: (-2px) 0 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.panel-body {
  padding: 10px;

  > * {
    font-size: 12px;
  }

  a {
    font-weight: 700;
  }
}

.product-search {
  .search-t {
    font-size: 12px;
  }

  .pagination {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.search-sort {
  border-color: $grayColor;
  border-style: solid;
  border-width: 1px 0;
  margin: 0 0 -1px;
  padding: 10px 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown {
    font-family: "Roboto Condensed";
    font-weight: 500;
  }
}

.search-controls {
  border-color: $grayColor;
  border-style: solid;
  border-width: 1px 0;
  padding: 10px 0;

  > * {
    display: inline-block;
  }

  .search-view {
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px 0 0;
  }

  .fa {
    color: #666;
    font-size: 17px;
    margin: 0 5px 0 0;
    vertical-align: top;
  }

  .search-t {
    margin: 0 10px 0 0;
  }
}

/* Product page */
.product-page {
  .product-content {
    border-right: 1px solid $grayColor;
    float: left;
    padding: 0 20px 0 0;
    width: 84%;

    .product-sku li {
      color: $graySecondaryColor;
      display: inline-block;
      font-size: 12px;
      margin: 0 10px 0 0;

      span {
        color: #333;
        font-weight: 700;
      }
    }

    .product {
      margin: 20px 0 0;
    }

    .product-img {
      padding: 0;
    }

    .product-info {
      padding: 10px 10px 0;

      .product-price {
        border-color: $grayColor;
        border-style: solid;
        border-width: 1px 0;
        padding: 10px 0;

        .price,
        .reorder,
        .availability {
          padding: 0;
        }

        .price {
          font-size: 16px;

          .price-unit {
            font-size: 12px;
          }
        }

        .reorder {
          padding: 0 15px;

          .nav-pills {
            display: inline-block;
            margin: 0 0 0 10px;
            vertical-align: middle;
          }

          .add-to-list {
            display: inline-block;
            margin: 0 0 20px;
          }
        }
      }

      .product-review {
        border-bottom: 1px solid $grayColor;
        padding: 10px 0;

        .product-rating,
        a {
          display: inline-block;
          vertical-align: top;
        }

        a {
          font-size: 12px;
          font-weight: 700;
        }

        .product-rating img {
          display: block;
        }
      }

      p {
        font-size: 12px;
      }
    }
  }

  .product-related {
    float: left;
    width: 16%;

    .product-t {
      font-family: "Roboto Condensed";
      font-size: 16px;
      font-weight: 700;
      padding: 10px;
      text-transform: uppercase;
    }

    .list {
      margin: 0 10px;
    }

    .list-item {
      font-family: "Roboto Condensed";
      padding: 20px 0;
    }

    .list-item + .list-item {
      border-top: 1px solid $grayColor;
    }

    .list-img {
      margin: 0 0 10px;
    }

    .list-name {
      font-weight: 700;
    }

    .list-sku {
      margin: 10px 0;
    }

    .list-brand {
      margin: 0 0 10px;
    }

    .list-price {
      margin: 0 0 20px;
    }
  }
}

.sign-in {
  font-size: 12px;

  h1 {
    margin-bottom: 30px;
  }

  [class*="col-md-"]:first-child {
    border-right: 1px solid $grayColor;
  }

  ul {
    list-style: inside disc;
    line-height: 18px;
  }
}

/* Add to cart list */
.add-cart-list {
  [class*="col-md-"] {
    padding: 0;
  }

  .cart-item {
    border-bottom: 1px solid $grayColor;
    margin-bottom: 15px;
    padding-bottom: 15px;
    overflow: hidden;
  }

  .cart-img {
    float: left;
    margin: 0 10px 0 0;

    img {
      max-width: 50px;
    }
  }

  .cart-descr {
    font-size: 12px;
    font-weight: 700;
  }

  .cart-qty,
  .cart-total {
    color: $graySecondaryColor;
    font-family: "Roboto Condensed";
    font-size: 12px;
    padding: 0 0 0 10px;
  }

  .cart-qty {
    .value {
      color: #333;
      font-weight: 700;
    }
  }

  .value,
  .price-value {
    margin: 0 0 0 5px;
  }

  .cart-total {
    margin: 17px 0 0;
  }
}

.recommended {
  .recommend-head {
    margin: 0 0 10px;
  }

  h2 {
    float: left;
    margin: 0;
  }

  p,
  .pagination {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  p {
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px 0 0;
  }
}

/* Footer */
.footer {
  border-top: 3px solid $grayColor;
  padding: 20px 0 0;

  .footer-col {
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: 20%;

    a {
      color: #29333b;
    }
  }

  .footer-line:nth-child(2) {
    border-top: 3px solid $grayColor;
    margin-top: 15px;
    padding: 15px 0 0;
  }

  .footer-legal {
    background: $headerBg;
    margin: 25px 0 0;
    padding: 15px 0;
    text-align: center;

    ul {
      margin: 0 0 10px;
    }

    li {
      display: inline-block;
    }

    li {
      a {
        color: #fff;
        padding: 0 10px;
      }
    }

    li + li {
      border-left: 1px solid #fff;
    }

    p {
      color: #fff;
    }
  }
}

.styleguide {
  h3 {
    color: #999;
    font-size: 14px;
  }

  .color-block {
    color: inherit;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
  }

  .primary {
    background: $brand-primary;
    color: #fff;
  }

  .gray {
    background: $grayColor;
  }

  .link {
    background: $link-color;
    color: #fff;
  }

  .header {
    background: $headerBg;
    color: #fff;
  }

  .navbar {
    background: $navbar-default-bg;
    color: #fff;
  }

  .navbar-border {
    background: $navbar-default-border;
    color: #fff;
  }

  .gray-secondary {
    background: $graySecondaryColor;
    color: #fff;
  }

  .gray-light {
    background: $grayLightColor;
  }
}
