@import "mixins/custom/_grid-framework.scss";
@import "mixins/custom/_grid.scss";
@import "mixins/custom/_buttons.scss";
@import "mixins/custom/_button-groups.scss";
@import "mixins/custom/_navbar.scss";

@import "custom/_grid.scss";
@import "custom/_type.scss";
@import "custom/_scaffolding.scss";
@import "custom/_breadcrumb.scss";
@import "custom/_tables.scss";
@import "custom/_dropdowns.scss";
@import "custom/_buttons.scss";
@import "custom/_button-groups.scss";
@import "custom/_forms.scss";
@import "custom/_input-groups.scss";
@import "custom/_checkboxes.scss";
@import "custom/_panels.scss";
@import "custom/_navbar.scss";
@import "custom/_navs.scss";
@import "custom/_popover.scss";
@import "custom/_code.scss";
@import "custom/_responsive-utilities.scss";
@import "custom/_toc.scss";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  .navbar-default {
    border-color: $brand-primary;
    border-width: 4px 0 0 0;
    position:relative;
    z-index: 9999;
  }
}

footer {
  flex: 0 0 auto;
}

#all-products-popover + .popover {
  width: 480px;
}

#bulk-order-popover + .popover {
  width: 305px;
}

main {
  padding-top: $navbar-margin-bottom;
  flex: 1 0 auto;

  @media (max-width: $screen-sm-max) {
    .navbar-fixed-top + .navbar-fixed-top + & {
      margin-top: ($navbar-height + 1px) * 2 + $navbar-margin-bottom; // 1px border
    }

    .navbar-fixed-top + .navbar-fixed-top + .navbar-fixed-top:not(.ng-hide) + & {
      margin-top: ($navbar-height + 1px) * 3 + $navbar-margin-bottom; // 1px border
    }
  }

  padding-bottom: $navbar-margin-top;
}

.mobile-app {
  width: 120px;
}

.btn-youtube {
  @include btn-social(#e52d27);
}

.ng-submitted input.ng-invalid.ng-invalid-required,
.ng-submitted input.ng-invalid.ng-invalid-email,
.ng-submitted input.ng-invalid.ng-invalid-pattern   {
  border-color: #883333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
