/* ---- Base ---- */
$redColor: #bb0d02;
$grayColor: #d8d8d8;
$graySecondaryColor: #abb0b6;
$grayLightColor: #eee;
$grayLightSecondaryColor: #f2f2f2;

/* ---- Buttons ---- */
$btnAltBgOver: #4c5c6a;
$btnAltBrdOver: #4c5c6a;

/* ---- Header ---- */
$headerBg: #151b1e;

/* ---- Aside ---- */
$asidePadding: 15px;
$asideBrdColor: $grayColor;
$asideAccentBrdColor: $headerBg;
$asideMargin: 10px;

/* ---- Cvp module ---- */
$cvpBg: #f2f2f2;

/* ---- Popular ---- */
$popularItemHeight: 110px;
$popularColor: #29333b;

/* ---- Product list ---- */
$priceValueColor: #2c9243;
