//== Forms
$input-font-family: "Roboto Condensed";

//== Buttons
$btn-font-family: "Roboto Condensed";
$btn-disabled-bg: $gray-lighter;
$btn-disabled-border: $gray;
$btn-disabled-color: #ccc;

/* ---- Base ---- */
$redColor: #bb0d02;

/* ---- Header ---- */
$headerBg: #151b1e;

/* ---- Aside ---- */
$asidePadding: 15px;
$asideBrdColor: $gray;
$asideAccentBrdColor: $headerBg;
$asideMargin: 10px;

/* ---- Cvp module ---- */
$cvpBg: #f2f2f2;

/* ---- Popular ---- */
$popularItemHeight: 110px;
$popularColor: #29333b;

/* ---- Product list ---- */
$priceValueColor: #2c9243;
