<uib-accordion close-others="false" ng-init="filters = { terms: undefined }" vc-query-target="filters">
    {% include 'collection/sidebar/applied-filters' %}
    {% include 'collection/sidebar/keyword' %}
    <div class="panel-default panel-static" uib-accordion-group template-url="collection-sidebar-always-visible-group.html" is-open="always">
        <uib-accordion-heading>
            Previously Purchased
        </uib-accordion-heading>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                <a>
                    <span class="switch"></span>
                    <span class="name">View Previously Purchased Products</span>
                </a>
            </label>
        </div>
    </div>
<filter-by-fulfillment-center-widget></filter-by-fulfillment-center-widget>
</uib-accordion>
{% include 'collection/sidebar/filters' %}
{% raw %}
    <script type="text/ng-template" id="collection-sidebar-always-visible-group.html">
        <div id="{{::headingId}}" role="tab" class="panel-heading" ng-keypress="toggleOpen($event)">
            <h4 class="panel-title">
                <span tabindex="0" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle>
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </span>
            </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" role="tabpanel" class="panel-collapse collapse in">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>
{% endraw %}
