<uib-accordion close-others="false">
    {% raw %}
        <script type="text/ng-template" id="collection-sidebar-always-visible-group.html">
            <div id="{{::headingId}}" role="tab" class="panel-heading" ng-keypress="toggleOpen($event)">
                <h4 class="panel-title">
                    <span tabindex="0" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle>
                        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                    </span>
                </h4>
            </div>
            <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" role="tabpanel" class="panel-collapse collapse in">
                <div class="panel-body" ng-transclude></div>
            </div>
        </script>
        <script type="text/ng-template" id="collection-sidebar-default-group.html">
            <div role="tab" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="" aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" ng-class="{'collapsed': !isOpen }" ng-click="toggleOpen()" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                </h4>
            </div>
            <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" ng-transclude></div>
            </div>
        </script>
    {% endraw %}
    <div class="panel-default panel-static" uib-accordion-group template-url="collection-sidebar-always-visible-group.html" is-open="always">
        <uib-accordion-heading>
            Applied filters
            <a href="#" class="action">Clear all</a>
        </uib-accordion-heading>
        <strong>Type:</strong>
        <ul class="list-filters">
            <li class="list-item">
                <a class="list-ico fa fa-times-circle"></a>
                Handheld
            </li>
            <li class="list-item">
                <a class="list-ico fa fa-times-circle"></a>
                Semi-portable
            </li>
        </ul>
        <strong>Price:</strong>
        <ul class="list-filters">
            <li class="list-item">
                <a class="list-ico fa fa-times-circle"></a>
                $100-$200
            </li>
        </ul>
    </div>
    {% include 'collection/sidebar/keyword' %}
    <div class="panel-default panel-static" uib-accordion-group template-url="collection-sidebar-always-visible-group.html" is-open="always">
        <uib-accordion-heading>
            Previously Purchased
        </uib-accordion-heading>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                <a>
                    <span class="switch"></span>
                    <span class="name">View Previously Purchased Products</span>
                </a>
            </label>
        </div>
    </div>
    {% include 'collection/sidebar/fulfillmentCenter' %}
    {% include 'collection/sidebar/filters' %}
</uib-accordion>
