<a id="addToWishlist" class="add-to-list" href="" ng-init='$ctrl.lists = {{ settings.lists | json }}' ng-disabled="$ctrl.buttonInvalid" ng-click="$ctrl.addProductToWishlist()">
    <span class="fa fa-plus"></span>
    <span>{{ 'products.list.add_to_myList' | t }}</span>
</a> 
