<a id="addToWishlist" class="add-to-list" href="" ng-init='$ctrl.lists = {{ settings.available_lists | json }}' ng-disabled="$ctrl.buttonInvalid" ng-click="customer.isRegisteredUser ? $ctrl.addProductToWishlist() : $ctrl.signInToProceed()">
    <span class="fa fa-plus"></span>
    <span>{{ 'products.list.add_to_myList' | t }}</span>
</a> 
