<button id="addToWishlist" class="btn btn-link add-to-list" ng-disabled="$ctrl.buttonInvalid" ng-click="$ctrl.addProductToWishlist()">
    <span class="fa fa-plus"></span>
    <span>{{ 'products.list.add_to_myList' | t }}</span>
</button> 
