@mixin button-variant-disabled {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus {
      background-color: $btn-disabled-bg;
      border-color: $btn-disabled-border;
      color: $btn-disabled-color;
      cursor: default;
    }
  }
}

@mixin button-variant-states($color, $background, $border, $colorizer: 'darken', $colorizer-multiplier: 1) {
  &:focus,
  &.focus {
    color: $color;
    background-color: call($colorizer, $background, 10% * $colorizer-multiplier);
    border-color: call($colorizer, $border, 25%);
  }

  &:hover {
    color: $color;
    background-color: call($colorizer, $background, 10% * $colorizer-multiplier);
    border-color: call($colorizer, $border, 12.5% * $colorizer-multiplier);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: call($colorizer, $background, 10% * $colorizer-multiplier);
    border-color: call($colorizer, $border, 12.5% * $colorizer-multiplier);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: call($colorizer, $background, 17.5% * $colorizer-multiplier);
      border-color: call($colorizer, $border, 25% * $colorizer-multiplier);
    }
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }

  @include button-variant-disabled()
  
  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin button-variant($color, $background, $border, $colorizer: 'darken', $colorizer-multiplier: 1) {
  color: $color;
  background-color: $background;
  border-color: $border;

  @include button-variant-states($color, $background, $border, $colorizer, $colorizer-multiplier);
}

@mixin button-variant-alt($color, $background, $border, $colorizer: 'darken', $colorizer-multiplier: 1) {
  color: $background;
  background: none;
  border-color: $border;

  @include button-variant-states($color, $background, $border, $colorizer, $colorizer-multiplier);
}
