.variations-table {
  table-layout: fixed;

  .variation, .expander {
    cursor: pointer;
  }

  tr:not(.variation-details){
    th, td {
      &:first-of-type {
        width: 10%;
      }
    }
  }

  .variation-details td {
    border-width: 0;
  }
}
