.alert {
  border: none;
  border-radius: 0;
  a {
  color: #a94442;
  cursor: pointer;
  font-weight: 700;
  }
}

.alert.fixed {
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 9999;
}

.alert {
  button.close {
      color: $text-contrast;
      font-size: 25px;
      opacity: 1;
    }
}

.alert.alert-success {
  background-color: $alert-success-bg;
  color: $alert-success-text;
  border-color: $alert-success-border;
}
