.compare-table
{
  td
  {
    max-width: 160px;
    min-width: 160px;
  }

  > tbody > tr > td
  {
    border: none;
  }

  > tbody > tr:nth-child(even)
  {
    background: $gray-lighter;
  }

  .product-t
  {
    background: $gray-base;
    color: $text-contrast;
    padding: 10px;
  }

  img
  {
    max-width: 100%;
  }
}

/* Modal compare */
.modal-compare {
  bottom: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: "Roboto Condensed";
  left: 50%;
  position: fixed;
  width: 910px;
  z-index: 50;
  transform: translateX(-50%);

  .compare-head {
    background: $gray-darker;
    color: $text-contrast;
    height: 50px;
    line-height: 50px;

    a
    {
      border-bottom: 0;
      color: $text-contrast;
    }
  }

  .compare-add {
    position: relative;

    .form-group {
      display: none;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .form-control {
      width: 50%;
    }
  }

  .compare-add.opened {
    font-size: 0;

    .form-group {
      display: flex;
    }
  }

  .compare-add,
  .compare-clear,
  .compare-hide {
    border-left: 1px solid $gray-dark;
    text-align: center;
  }

  .compare-body {
    background: #fff;
    overflow: hidden;
    padding: 10px;

    .list {
      padding: 0;
      word-spacing: -6px;
    }

    .list-item {
      box-sizing: border-box;
      display: inline-block;
      padding: 0 10px 0 0;
      position: relative;
      vertical-align: top;
      width: 20%;
      word-spacing: 0;
    }

    .list-link {
      display: inline-block;
      margin: 0 5px 0 0;
      position: relative;
    }

    .list-pic {
      border: 1px solid $gray-light;
      max-width: 50px;
      min-width: 50px;
    }

    .list-remove {
      background: $text-contrast;
      position: absolute;
      left: 38px;
      top: 0;
    }
  }
}