.add-cart-list [class*="col-md-"] {
  padding: 0;
}

.add-cart-list .cart-item {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.add-cart-list .cart-img {
  float: left;
  margin: 0 10px 0 0;
}

.add-cart-list .cart-img img {
  max-width: 50px;
}

.add-cart-list .cart-descr {
  font-size: 12px;
  font-weight: 700;
}

.add-cart-list .cart-qty,
.add-cart-list .cart-total {
  color: #abb0b6;
  font-family: 'Roboto Condensed';
  font-size: 12px;
  padding: 0 0 0 10px;
}

.add-cart-list .cart-qty .value {
  color: #333;
  font-weight: 700;
}

.add-cart-list .value,
.add-cart-list .price-value {
  margin: 0 0 0 5px;
}

.add-cart-list .cart-total {
  margin: 17px 0 0;
}

.recommended .recommend-head {
  margin: 0 0 10px;
}

.recommended h2 {
  float: left;
  margin: 0;
}

.recommended p,
.recommended .pagination {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.recommended p {
  font-size: 12px;
  font-weight: 700;
  margin: 0 10px 0 0;
}
