<ul class="nav navbar-nav">
    <li ng-class="{'active': isAllProductsOpen}" ng-mouseenter="isAllProductsOpen = true" ng-mouseleave="isAllProductsOpen = false">
        <a id="all-products-popover" href="" class="text-uppercase text-condensed" popover-class="popover-square hide-arrow" uib-popover-template="'all-products-popover.tpl'" popover-placement="bottom-left" popover-is-open="isAllProductsOpen" popover-trigger="'none'">
            {{ 'layout.products.products' | t }}&ensp;<i class="dropdown-ico fa fa-angle-down"></i>
        </a>
        <script id="all-products-popover.tpl" type="text/ng-template">
            <div class="container-fluid container-drain container-bordered" ng-init='links = {{ linklists[settings.all_products_menu].links | json }}'>
                <div class="row">
                    <div class="col-md-6" ng-repeat="link in links" ng-if="$even">
                        <ul class="nav nav-sm nav-pills nav-stacked text-nowrap">
                            <li>
                                <a ng-href="link.url" ng-bind="link.title">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6" ng-repeat="link in links" ng-if="!$even">
                        <ul class="nav nav-sm nav-pills nav-stacked text-nowrap">
                            <li>
                                <a ng-href="link.url" ng-bind="link.title">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
    </li>
</ul>
