<form class="vc-form">
    <div class="form-group">
        <div uib-dropdown is-open="isRolesOpen">
            <button class="form-input form-select" uib-dropdown-toggle ng-disabled="$ctrl.readonly || !$ctrl.availableRoles.length">
                <span ng-if="!$ctrl.currentRole && !$ctrl.availableRoles.length" class="form-placeholder">{{ 'customer.roles.none' | t }}</span>
                <span ng-if="!$ctrl.currentRole && $ctrl.availableRoles.length" class="form-placeholder">{{ 'customer.roles.placeholder' | t }}</span>
                <span ng-if="$ctrl.currentRole">{% raw %}{{$ctrl.currentRole.name}}{% endraw %}</span>
            </button>
            <ul uib-dropdown-menu>
                <li ng-repeat="role in $ctrl.availableRoles">
                    <a href="" ng-click="$ctrl.selectRole(role)">
                        {% raw %}{{role.name}}{% endraw %}
                        <div class="form-description">
                            {% raw %}{{ role.description | translate }}{% endraw %}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</form>