<div ivh-treeview="permissions"
     ivh-treeview-expand-to-depth="-1"
     ivh-treeview-twistie-expanded-tpl="'﻿'"
     ivh-treeview-twistie-collapsed-tpl="'﻿'"
     ivh-treeview-twistie-leaf-tpl="'﻿'">
</div>