<p>
    <a ng-link="['MemberList', {pageNumber: $ctrl.pageNumber}]">
        <span class="fa fa-arrow-left"></span> {{ 'customer.edit_company_member.return_text' | t }}
    </a>
</p>

<div class="one-whole" ng-init="init('{{ shop.id }}')">
    <h4>{{ 'customer.edit_company_member.title' | t }}</h4>

    <div ng-show="$ctrl.member">
        <vc-member-detail member="$ctrl.member" member-component="$ctrl.memberComponent" fields-config="$ctrl.fieldsConfig"></vc-member-detail>
    </div>

    <button ng-click="$ctrl.submitMember()" ng-disabled="$ctrl.loader.isLoading" class="btn btn-primary" ng-class="{ 'loading': $ctrl.loader.isLoading }">
        <span class="btn-text">{{ 'customer.edit_company_member.btn_update' | t }}</span>
        <span class="btn-loading"></span>
    </button>
</div>
