<ol class="steps list-inline">
    <li {% if template == 'cart'     %} class="active" {% endif %}>
        <span class="number">1</span>
        <span class="title">My cart</span>
    </li>
    <li {% if template == "checkout" %} class="active" {% endif %}>
        <span class="number">2</span>
        <span class="title">Review</span>
    </li>
    <li {% if template == "thanks"   %} class="active" {% endif %}>
        <span class="number">3</span>
        <span class="title">Complete</span>
    </li>
</ol>
