{% include 'shared/breadcrumb' %}
<div id="header-breadcrumb-container">
    <h1 id="pageHeader">Tulsa Branch #864</h1> 
</div>

<div id="body">
    <div id="main-content" class="content-page-main-content">
        <div id="individualBranchDetails">
            <div class="branchDetails">
                <ul>
                    <li>
                        <p>10707 E. Pine St., TULSA, OK, 74116</p>
                    </li>
                    <li class="actions">
                        <a href="//www.google.com/maps/dir//10707%20E.%20Pine%20St.%20TULSA%20OK%2074116-1547" class="directions" target="_blank">Get Directions</a>
                    </li>
                </ul>

                <div><span>Phone Number:</span>1-800-GRAINGER (1-800-472-4643)</div>
                    <div class="branchHours">
                        <h3>Branch Hours</h3>
                        <table>
                            <tbody><tr>
                                <th class="day">Day</th>
                                <th><span class="hours">Hours</span></th>
                            </tr>
                            <tr>
                                <td>MON</td>
                                <td>7:30 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>TUE</td>
                                <td>7:30 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>WED</td>
                                <td>7:30 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>THU</td>
                                <td>7:30 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>FRI</td>
                                <td>7:30 AM - 5:00 PM</td>
                            </tr>
                            <tr>
                                <td>SAT</td>
                                <td>
                                    
                                            CLOSED
                                        </td>
                            </tr>
                            <tr>
                                <td>SUN</td>
                                <td>CLOSED</td>
                            </tr>
                        </tbody></table>
                        <p class="emergency-statement">In case of emergency, call 1-800-CALL-WWG to open a branch any time (a fee may apply).  For more information, refer to our&nbsp;<a href="/content/emergency-services">Emergency Services</a></p>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>