{% assign grid_results = true %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}
<main class="main" role="main">
    <article class="container">
        {% if search.performed %}
        {% paginate search.results by settings.product_list_capacity %}
        {% if search.results_count == 0 %}
        <h2 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
        {% else %}
        <div class="page-header">
            <h2 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
        </div>
        {% if grid_results == false %}
        {% for item in search.results %}
        {% include 'search-result' %}
        {% endfor %}
        {% else %}
        <div class="row">
            {% for item in search.results %}
            {% assign product = item %}
            {% assign col_size = "col-xs-12 col-sm-6 col-md-4 col-lg-3" %}
            {% assign hide_quantity = true %}
            {% include 'product/grid-item', product_list_capacity: settings.product_list_capacity %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% if paginate.pages > 1 %}
        <div class="text-center">
            {% include 'shared/pagination' %}
        </div>
        {% endif %}
        {% endpaginate %}
        {% else %}
        {% comment %}
        If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
        {% endcomment %}
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">{{ 'general.search.title' | t }}</h2>
                {% include 'shared/search-bar', form_class: "text-center" %}
            </div>
        </div>
        {% endif %}
    </article>
</main>
{% else %}
  {% layout none %}
  {% include 'respond' %}
{% endunless %}
