{% assign respond_js_secret_key = shop.url | md5 %}
{% assign search = current_product_search_criteria %}
{% unless search.keyword == respond_js_secret_key %}
{% assign search_results = product_search_result.products %}

<main class="main" role="main">
    <article class="container">
        {% if search and search_results.empty? == false %}
        {% paginator = search_results | paginate settings.product_list_capacity %}        
        {% if search_results.size == 0 %}
        <h2 class="text-center">{{ 'general.search.no_results_html' | t: search.keyword }}</h2>
        {% else %}
        <div class="page-header">
            <h2 class="text-center">{{ 'general.search.results_for_html' | t: search.keyword }}</h2>
        </div>
        <div class="row">
            {% for item in search_results %}
            {% assign product = item %}
            {% assign col_size = "col-xs-12 col-sm-6 col-md-4 col-lg-3" %}
            {% assign hide_quantity = true %}
            {% assign product_list_capacity = settings.product_list_capacity %}
            {% include 'product/grid-item' %}
            {% endfor %}
        </div>
        {% endif %}
        {% if paginator.pages > 1 %}
                <div class="text-center">
                    {% include 'pagination-custom' %}
                </div>
        {% endif %}
        {% else %}
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">{{ 'general.search.title' | t }}</h2>
                {% assign form_class = "text-center" %}
                {% include 'shared/search-bar'%}
            </div>
        </div>
        {% endif %} 
    </article>
</main>
{% else %}
  {% layout none %}
  {% include 'respond' %}
{% endunless %}
