{% unless current_collection %}
    {% assign current_collection = collection %}
{% endunless %}

<!-- TODO: Badges -->

<div class="col-md-3 flexible" ng-init="products.push('{{ product.id }}')">
    {% include 'product/item/image' %}
    {% include 'product/compare' %}
    {% include 'product/item/title-and-codes' %}
    {% include 'product/price' %}
    {% include 'product/quantity' %}
</div>

<script>
    window.products = [];
    window.products.push({
        id: "{{ product.id }}",
        catalogId: "{{ product.catalog_id }}",
        categoryId: "{{ product.category_id }}"
    });
</script>