{% for product in collection.products %}
    {% include 'shared/grid/rows', column_count: 4 %}
    {% if should_start_row %}
        <div class="row flexible">
    {% endif %}
    {% include product_item, product: product %}
    {% if should_end_row %}
        </div>
    {% endif %}
{% endfor %}
