{% for product in collection.products %}
    {% assign column_count = 4 %}
    {% include 'shared/grid/rows' %}
    {% if should_start_row %}
        <div class="row flexible">
    {% endif %}
    {% assign product = product %}
    {% include product_item %}
    {% if should_end_row %}
        </div>
    {% endif %}
{% endfor %}
