<div class="row">
    <div class="col-xs-12 container-drain container-bordered-horizontal">

    {{ collection.products | json }}
        {% for product in collection.products %}            
            {% include product_item %}
        {% endfor %}
    </div>
</div>
