<p>
    {% if customer %}
        {{ 'products.price.private' | t }}
    {% else %}
        {{ 'products.price.public' | t }}
    {% endif %}
    <br>
    {% if settings.show_prices_with_taxes %}
        {% assign price = product.price_with_tax %}
        {% include 'product/price/static' %}
        {% assign price_name = 'actualPriceWithTax' %}
        {% include 'product/price/dynamic' %}
    {% else %}
        {% assign price = product.price %}
        {% include 'product/price/static' %}
        {% assign price_name = 'actualPrice' %}
        {% include 'product/price/dynamic' %}
    {% endif %}
    <!-- TODO: Replace with product unit -->
    <span class="price-unit">/ each</span>
</p>
