pre.panel-footer,
pre.panel-footer[class*="language-"] {
  margin: 0;
  padding: $panel-footer-padding;
  border-bottom: none;
  border-left: 0;
  border-right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
