.form-control {
  box-shadow: none;
}

.form-control:focus {
  &,
  .has-success &,
  .has-warning &,
  .has-error & {
    box-shadow: 0 0 0 1px $input-border-focus;
  }
}

.form-control[disabled],
fieldset[disabled] .form-control {
  color: $text-muted;
}
