.form-inline {
  .form-group + .form-group {
    margin-left: $form-group-margin-left;
  }

  .dropdown {
    display: inline-block;
    vertical-align: middle;
  }

  .pagination {
    margin: 0;
    vertical-align: middle;
  }
}

.form-control {
  box-shadow: none;
}

.form-control:focus {
  & {
    box-shadow: 0 0 0 1px $input-border-focus inset;
  }

  .has-success & {
    box-shadow: 0 0 0 1px $state-success-text inset;
  }

  .has-warning & {
    box-shadow: 0 0 0 1px $state-warning-text inset;
  }

  .has-error & {
    box-shadow: 0 0 0 1px $state-danger-text inset;
  }
}

.form-control[disabled],
fieldset[disabled] .form-control {
  color: $text-muted;
}

// Fix webkit auto fill background
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  &,
  &:hover,
  &:focus {
    -webkit-text-fill-color: $input-color;
    -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
  }
}

form label.required:after
{
    color: $brand-primary;
    content: "*";
}
