.input-group-btn {
  .btn {
    border-width: 1px;
    border-color: $input-border;
  }
}

// Reset rounded corners
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  @include border-left-radius($input-border-radius);
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-right-radius($input-border-radius);
}

.input-group-lg .form-control:first-child,
.input-group-lg .input-group-addon:first-child,
.input-group-lg .input-group-btn:first-child > .btn,
.input-group-lg .input-group-btn:first-child > .btn-group > .btn,
.input-group-lg .input-group-btn:first-child > .dropdown-toggle,
.input-group-lg .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-lg .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  @include border-left-radius($input-border-radius-large);
}

.input-group-lg .form-control:last-child,
.input-group-lg .input-group-addon:last-child,
.input-group-lg .input-group-btn:last-child > .btn,
.input-group-lg .input-group-btn:last-child > .btn-group > .btn,
.input-group-lg .input-group-btn:last-child > .dropdown-toggle,
.input-group-lg .input-group-btn:first-child > .btn:not(:first-child),
.input-group-lg .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-right-radius($input-border-radius-large);
}

.input-group-sm .form-control:first-child,
.input-group-sm .input-group-addon:first-child,
.input-group-sm .input-group-btn:first-child > .btn,
.input-group-sm .input-group-btn:first-child > .btn-group > .btn,
.input-group-sm .input-group-btn:first-child > .dropdown-toggle,
.input-group-sm .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-sm .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  @include border-left-radius($input-border-radius-small);
}

.input-group-sm .form-control:last-child,
.input-group-sm .input-group-addon:last-child,
.input-group-sm .input-group-btn:last-child > .btn,
.input-group-sm .input-group-btn:last-child > .btn-group > .btn,
.input-group-sm .input-group-btn:last-child > .dropdown-toggle,
.input-group-sm .input-group-btn:first-child > .btn:not(:first-child),
.input-group-sm .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  @include border-right-radius($input-border-radius-small);
}
