.navbar {
  margin-bottom: 0;

  &:last-child {
    margin-bottom: $navbar-margin-bottom;
  }

  .row .navbar-brand {
    height: 100%;
  }

  .row + .row {
    .navbar-form,
    .navbar-btn,
    .navbar-text {
      margin-top: 0;
    }
  }
}

$navbars-count: 2;
@for $i from 0 to $navbars-count {
  .navbar-static-bottom:nth-child(#{$i}),
  .navbar-static-top:nth-last-child(#{$i}) {
    z-index: $zindex-navbar - $i;
  }
}

.navbar-default {
  border-width: 4px 0 0 0;

  .navbar-link {
    &.primary-link {
      color: $navbar-primary-link-color;
    }

    &:hover {
      border-bottom-color: $navbar-default-link-hover-color;

      &.primary-link {
        border-bottom-color: $navbar-primary-link-hover-color;
        color: $navbar-primary-link-hover-color;
      }
    }
  }

  .btn-link {
    &:hover,
    &:focus {
      border-bottom-color: $navbar-default-link-hover-color;
    }
  }
}

.navbar-inverse {

  .navbar-form {
    .form-control,
    .input-group-btn .btn {
      border-color: darken($navbar-inverse-bg, 7%);
    }
  }

  .navbar-link {
    &.primary-link {
      color: $navbar-primary-link-color;
    }

    &:hover {
      border-bottom-color: $navbar-inverse-link-hover-color;

      &.primary-link {
        border-bottom-color: $navbar-primary-link-hover-color;
        color: $navbar-primary-link-hover-color;
      }
    }
  }

  .btn-link {
    &:hover,
    &:focus {
      border-bottom-color: $navbar-inverse-link-hover-color;
    }
  }
}

// Copied from navbar-inverse source code
.navbar-inverse-light {
  background-color: $navbar-inverse-light-bg;
  border-color: $navbar-inverse-light-border;

  .navbar-brand {
    color: $navbar-inverse-light-brand-color;

    &:hover,
    &:focus {
      color: $navbar-inverse-light-brand-hover-color;
      background-color: $navbar-inverse-light-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-inverse-light-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-inverse-light-link-color;

      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-hover-color;
        background-color: $navbar-inverse-light-link-hover-bg;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-active-color;
        background-color: $navbar-inverse-light-link-active-bg;
      }
    }

    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-disabled-color;
        background-color: $navbar-inverse-light-link-disabled-bg;
      }
    }
  }
  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-inverse-light-toggle-border-color;

    &:hover,
    &:focus {
      background-color: $navbar-inverse-light-toggle-hover-bg;
    }

    .icon-bar {
      background-color: $navbar-inverse-light-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-inverse-light-bg, 7%);

    .form-control,
    .input-group-btn .btn {
      border-color: darken($navbar-inverse-light-bg, 7%);
    }
  }
  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-inverse-light-link-active-bg;
        color: $navbar-inverse-light-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-inverse-light-border;
        }

        .divider {
          background-color: $navbar-inverse-light-border;
        }

        > li > a {
          color: $navbar-inverse-light-link-color;

          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-hover-color;
            background-color: $navbar-inverse-light-link-hover-bg;
          }
        }

        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-active-color;
            background-color: $navbar-inverse-light-link-active-bg;
          }
        }

        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-disabled-color;
            background-color: $navbar-inverse-light-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-inverse-light-link-color;

    &.primary-link {
      color: $navbar-primary-link-color;
    }

    &:hover {
      border-bottom-color: $navbar-inverse-light-link-hover-color;
      color: $navbar-inverse-light-link-hover-color;

      &.primary-link {
        border-bottom-color: $navbar-primary-link-hover-color;
        color: $navbar-primary-link-hover-color;
      }
    }
  }

  .btn-link {
    color: $navbar-inverse-light-link-color;

    &:hover,
    &:focus {
      border-bottom-color: $navbar-inverse-light-link-hover-color;
      color: $navbar-inverse-light-link-hover-color;
    }

    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-disabled-color;
      }
    }
  }  
}

.navbar-default,
.navbar-inverse,
.navbar-inverse-light {
  .navbar-nav > li > a,
  .navbar-link {
    font-family: $font-family-base;
  }

  .navbar-text .open > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.navbar-inverse,
.navbar-inverse-light {
  .btn-default {
    @include button-variant($btn-default-contrast-color, $btn-default-contrast-bg, $btn-default-contrast-border, 'darken', 1);
  }

  .btn-alt {
    @include button-variant-alt($btn-default-contrast-color, $btn-default-contrast-bg, $btn-default-contrast-border, 'darken', 0);
  }
}

.navbar-condensed {
  min-height: $navbar-condensed-height;

  .navbar-toggle {
    @include navbar-vertical-align($navbar-condensed-height, 34px); // from original style
  }

  .navbar-brand {
    padding: $navbar-condensed-padding-vertical $navbar-padding-horizontal;
    height: $navbar-condensed-height;
  }

  .navbar-nav {
    margin: ($navbar-condensed-padding-vertical / 2) (-$navbar-padding-horizontal);

    @media (min-width: $grid-float-breakpoint) {
      margin: 0;

      > li > a {
        padding-top: $navbar-condensed-padding-vertical;
        padding-bottom: $navbar-condensed-padding-vertical;
      }
    }
  }

  .navbar-form {
    @include navbar-vertical-align($navbar-condensed-height, $input-height-base);
  }

  .navbar-btn {
    @include navbar-vertical-align($navbar-condensed-height, $input-height-base);

    &.btn-sm {
      @include navbar-vertical-align($navbar-condensed-height, $input-height-small);
    }

    &.btn-xs {
      @include navbar-vertical-align($navbar-condensed-height, 22); // from original style
    }
  }

  .navbar-text {
    @include navbar-vertical-align($navbar-condensed-height, $line-height-computed);
  }
}

.navbar-form-lg {
  margin: -1px;
  padding: 0;
  overflow: hidden;

  .form-control,
  .btn {
    border-radius: 0;
    line-height: $line-height-computed;
    padding-top: 10px;
    padding-bottom: 10px;
    height: ($line-height-computed + (10px * 2) + 2px); // compensate margin
    @media (min-width: 576px) {
      padding-top: 15px;
      padding-bottom: 15px;
      height: ($line-height-computed + (15px * 2) + 2px); // compensate margin
    }
  }

  .input-group {
    .input-group-addon,
    .input-group-btn {
      width: 1%;
    }
  }
}

.navbar-text {
  ul,
  ol {
    margin-bottom: 0;
  }
}
