.navbar {
  margin-bottom: 0;

  .row .navbar-brand {
    height: 100%;
  }

  .row + .row {
    .navbar-form,
    .navbar-btn,
    .navbar-text {
      margin-top: 0;
    }
  }
}

$navbars-count: 3;
@for $navbar-index from 0 to $navbars-count {
  $navbar-number: $navbar-index + 1;

  .navbar-static-top:nth-of-type(#{$navbar-number}),
  .navbar-static-bottom:nth-last-of-type(#{$navbar-number}) {
    z-index: ($zindex-navbar - $navbar-index);
  }

  .navbar-fixed-top:nth-of-type(#{$navbar-number}) {
    top: $navbar-index * ($navbar-height + 1px);
  }

  .navbar-fixed-bottom:nth-last-of-type(#{$navbar-number}) {
    bottom: $navbar-index * ($navbar-height + 1px);
  }
}

.navbar-default {
  .navbar-link {
    &:hover {
      border-bottom-color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    &:hover,
    &:focus {
      border-bottom-color: $navbar-default-link-hover-color;
    }
  }
}

.navbar-inverse {
  .navbar-form {
    .form-control,
    .input-group-btn .btn {
      border-color: darken($navbar-inverse-bg, 7%);
    }
  }

  .navbar-link {
    &:hover {
      border-bottom-color: $navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    &:hover,
    &:focus {
      border-bottom-color: $navbar-inverse-link-hover-color;
    }
  }
}

// Copied from navbar-inverse source code
.navbar-inverse-light {
  background-color: $navbar-inverse-light-bg;
  border-color: $navbar-inverse-light-border;

  .navbar-brand {
    color: $navbar-inverse-light-brand-color;

    &:hover,
    &:focus {
      color: $navbar-inverse-light-brand-hover-color;
      background-color: $navbar-inverse-light-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-inverse-light-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-inverse-light-link-color;

      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-hover-color;
        background-color: $navbar-inverse-light-link-hover-bg;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-active-color;
        background-color: $navbar-inverse-light-link-active-bg;
      }
    }

    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-disabled-color;
        background-color: $navbar-inverse-light-link-disabled-bg;
      }
    }
  }
  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-inverse-light-toggle-border-color;

    &:hover,
    &:focus {
      background-color: $navbar-inverse-light-toggle-hover-bg;
    }

    .icon-bar {
      background-color: $navbar-inverse-light-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken($navbar-inverse-light-bg, 7%);

    .form-control,
    .input-group-btn .btn {
      border-color: darken($navbar-inverse-light-bg, 7%);
    }
  }
  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-inverse-light-link-active-bg;
        color: $navbar-inverse-light-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: $navbar-inverse-light-border;
        }

        .divider {
          background-color: $navbar-inverse-light-border;
        }

        > li > a {
          color: $navbar-inverse-light-link-color;

          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-hover-color;
            background-color: $navbar-inverse-light-link-hover-bg;
          }
        }

        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-active-color;
            background-color: $navbar-inverse-light-link-active-bg;
          }
        }

        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-inverse-light-link-disabled-color;
            background-color: $navbar-inverse-light-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-inverse-light-link-color;

    &:hover {
      border-bottom-color: $navbar-inverse-light-link-hover-color;
      color: $navbar-inverse-light-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-inverse-light-link-color;

    &:hover,
    &:focus {
      border-bottom-color: $navbar-inverse-light-link-hover-color;
      color: $navbar-inverse-light-link-hover-color;
    }

    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-inverse-light-link-disabled-color;
      }
    }
  }  
}

.navbar-default,
.navbar-inverse,
.navbar-inverse-light {
  .navbar-nav > li > a,
  .navbar-link {
    font-family: $font-family-base;

    &.primary-link {
      color: $navbar-primary-link-color;
    }

    &.primary-link:hover {
      border-bottom-color: $navbar-primary-link-hover-color;
      color: $navbar-primary-link-hover-color;
    }
  }

  .navbar-text .open > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.navbar-inverse,
.navbar-inverse-light {
  .btn-default {
    @include button-variant($btn-default-contrast-color, $btn-default-contrast-bg, $btn-default-contrast-border, 'darken', 1);
  }

  .btn-alt {
    @include button-variant-alt($btn-default-contrast-color, $btn-default-contrast-bg, $btn-default-contrast-border, 'darken', 0);
  }
}

.navbar-condensed {
  min-height: $navbar-condensed-height;

  .navbar-toggle {
    @include navbar-vertical-align($navbar-condensed-height, 34px); // from original style
  }

  .navbar-brand {
    padding: $navbar-condensed-padding-vertical $navbar-padding-horizontal;
    height: $navbar-condensed-height;
  }

  .navbar-nav {
    margin: ($navbar-condensed-padding-vertical / 2) (-$navbar-padding-horizontal);

    @media (min-width: $grid-float-breakpoint) {
      margin: 0;

      > li > a {
        padding-top: $navbar-condensed-padding-vertical;
        padding-bottom: $navbar-condensed-padding-vertical;
      }
    }
  }

  .navbar-form {
    @include navbar-vertical-align($navbar-condensed-height, $input-height-base);
  }

  .navbar-btn {
    @include navbar-vertical-align($navbar-condensed-height, $input-height-base);

    &.btn-sm {
      @include navbar-vertical-align($navbar-condensed-height, $input-height-small);
    }

    &.btn-xs {
      @include navbar-vertical-align($navbar-condensed-height, 22); // from original style
    }
  }

  .navbar-text {
    @include navbar-vertical-align($navbar-condensed-height, $line-height-computed);
  }
}

.navbar-static-bottom {
  padding-left: 0;
  padding-right: 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  z-index: $zindex-navbar;
  border-width: 1px 0 0;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
}

// Fix bootstrap bug
@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    margin-right: 0;
  }
}

.navbar-form-justify {
  margin: 0;
  padding: 0;

  .form-control,
  .btn {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    height: $navbar-height;
  }

  &:only-child {
    .form-control,
    .btn {
      border-left: 0;
      border-right: 0;
    }
  }

  .input-group {
    display: table;
    .input-group-addon,
    .input-group-btn {
      width: 1%;
    }
  }
}

.navbar-text {
  ul,
  ol {
    &:only-child {
      margin-bottom: 0;
    }
  }
}

.navbar-text-justify {
  float: none;
}
