.panel-group {
  .panel-static {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $panel-border-radius;
      border-top-right-radius: $panel-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $panel-border-radius;
      border-bottom-right-radius: $panel-border-radius;
    }
  }

  .panel-static + .panel-static {
    border-top-width: 0;
    margin-top: 0;
  }
}

.panel-heading {
  font-family: $panel-heading-font-family;
  font-weight: $panel-heading-font-weight;
  text-transform: uppercase;
  .info {
      font-weight: normal;
  }

}

.panel-title {
  > a,
  > small > a,
  > .small > a {
    &:hover {
      border-bottom-color: inherit;
    }

    &:focus:not(:hover) {
      border-bottom-color: transparent;
    }
  }
}

.panel-body {
  > uib-accordion-heading + *,
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


