.popover {
  padding: 0;

  &.popover-square {
    border-radius: 0;

    > * {
      border-radius: 0;
    }
  }

  &.hide-arrow {
    margin: -1px;

    .arrow {
      display: none;
    }
  }

  .popover-content {
    .container,
    .container-fluid {
      padding: 0;
    }

    .panel {
      border: none;
      margin: -9px -15px;
    }
  }
}
