.table {
  > caption {
    border-top: solid 1px $gray-light;
    border-bottom: solid 1px $gray-light;

    ul, ol {
      margin-bottom: 0;
    }
  }

  > thead > tr,
  > tbody > tr,
  > tfoot > tr {
    > td.active,
    > th.active,
    &.active > td,
    &.active > th {
      color: $text-contrast;
    }
  }
}

.table > tbody > tr,
.table > tfoot > tr {
  line-height: 54px;
  min-height: 54px;
  height: 54px;
}

.table > thead > tr {
  height: 37px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
  vertical-align: middle;
}

.table > thead > tr > th {
  border-bottom: 1px solid $gray-lighter;
}

.sortable th:hover {
    background-color: $gray-striped-table;
    cursor: pointer;
}

.desc:after {
    content: url(../../images/arrow-active-down.svg);
    padding-left: 10px;
}

.asc:after {
    content: url(../../images/arrow-active-up.svg);
    padding-left: 10px;
}
