.table {
  > caption {
    border-top: solid 1px $gray-light;
    border-bottom: solid 1px $gray-light;

    ul, ol {
      margin-bottom: 0;
    }
  }

  > thead > tr,
  > tbody > tr,
  > tfoot > tr {
    > td.active,
    > th.active,
    &.active > td,
    &.active > th {
      color: $text-contrast;
    }
  }
}

.table > tbody > tr,
.table > tfoot > tr {
  line-height: 54px;
  min-height: 54px;
  height: 54px;
}

.table > thead > tr {
  height: 37px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
  vertical-align: middle;
}

.table > thead > tr > th {
  border-bottom: 1px solid $gray-lighter;
}

.sortable th:hover {
    background-color: $gray-striped-table;
    cursor: pointer;
}

th {

  &.desc,
  &.asc,
  &.filtered,
  &.filter:hover {
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  }

  &.desc {
    background-image: url(../../images/arrow-active-down.svg);
  }

  &.asc {
    background-image: url(../../images/arrow-active-up.svg);
  }

  &.filtered {
    background-image: url(../../images/filter-active.svg);
  }

  &.filter:hover {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE0IDE0Ij4KICAgIDxwYXRoIGZpbGw9IiNCQUJBQkEiIGQ9Ik0xMS41MyAySDIuNDdjLS40MTcgMC0uNjI3LjUwNS0uMzMyLjhMNS43NSA2LjQxM3Y0LjAyNGMwIC4xNTMuMDc1LjI5Ny4yLjM4NWwxLjU2MiAxLjA5M2MuMzA5LjIxNi43MzgtLjAwMy43MzgtLjM4NFY2LjQxM0wxMS44NjIgMi44Yy4yOTUtLjI5NC4wODYtLjgtLjMzMS0uOHoiLz4KPC9zdmc+Cg==");
  }

}
