// Disable anchor border for controls which is not real link
a,
a[href=""] {
  &.unstyled, // not predefined
  &.badge,
  .checkbox &,
  &.carousel-control,
  &.close,
  &:not(.btn).dropdown-toggle, // not-predefined
  .dropdown-menu > li > &,
  .dropdown-menu > .active > &,
  .dropdown-menu > .disabled > &,
  &.label,
  // .list-group-item // overrides
  &.navbar-brand,
  .nav > li > &,
  .pager > li > &
  // .pagination > li & // overrides
  {
    &,
    &:hover,
    &:focus {
      border-bottom: 0;
    }
  }
}
