.page-header {
  margin: 0 0 $line-height-computed;
}

.border-none {
  border: none;
  padding: 0;
}

h1, .h1 {
  :not(strong) {
    font-weight: normal;
  }
}

h2, .h2,
h3, .h3,
h4, .h4 {
  text-transform: uppercase;
}

h4, .h4 {
  small,
  .small {
    font-size: 65%;
  }
}

@include text-emphasis-variant('.text-contrast', $text-contrast);

.text-serif {
  font-family: $font-family-serif !important;
}

.text-condensed {
  font-family: $font-family-condensed !important;
}

.text-normal {
  font-weight: normal;
}

.text-normalize {
  text-transform: none;
}

.text-middle {
  vertical-align: middle;
}

.text-truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-inline > li {
  vertical-align: inherit;
}

.list-inline-divider > li {
  &:not(:first-child)::before {
    content: '\FF5C'; // 1px width full height vertical line
    position: absolute;
    left: calc(-0.5em - 1px); // horizontal align
    opacity: (1/3);
  }
}

.list-horizontal {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    position: relative;
    padding-left: .5em;
    padding-right: .5em;

    &:not(:first-child)::before {
      content: '\FF5C'; // 1px width full height vertical line
      position: absolute;
      left: calc(-0.5em - 1px); // horizontal align
      opacity: (1/3);
    }
  }

  &.list-lg {
    > li {
      padding-left: 1em;
      padding-right: 1em;
      &:not(:first-child)::before{
        font-size: 2em;
      }
    }
  }
}

dl:only-child {
  margin: 0;
}

.dl-horizontal {
  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      float: left;
      width: $dl-horizontal-offset * 0.90;
      clear: left;
      text-align: right;
    }

    dd {
      margin-left: $dl-horizontal-offset;
      text-align: left;
    }
  }
}

.dl-horizontal-inverse {
  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      font-weight: normal;
      float: left;
      width: 100% - $dl-horizontal-offset;
      clear: left;
      text-align: left;
    }

    dd {
      font-weight: bold;
      margin-left: 100% - $dl-horizontal-offset * 0.75;
      text-align: right;
    }
  }
}

address:last-child {
  margin-bottom: 0;
}
