{% comment %}
  Sort collection with the 'sort_by' query parameter.
{% endcomment %}
<div class="form-group pull-right">
    <label class="text-normal">{{ 'collections.sorting.title' | t }}&emsp;</label>
    <div uib-dropdown ng-init="$collection.sortMode = '{{ collection.sort_by | default: collection.default_sort_by | escape }}'">
        <a id="sort" href="" class="btn btn-alt" uib-dropdown-toggle>{% raw %}{{ $collection.sortModes[$collection.sortMode] | translate }}{% endraw %}&nbsp;<span class="fa fa-angle-down"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sort">
            <li ng-repeat="(mode, title) in $collection.sortModes">
                <a vc-query-source="{ sort_by: [mode] }" switchable="false" ng-bind="title | translate"></a>
            </li>
        </ul>
    </div>
</div>
