{% comment %}
  Toggle between collection.liquid and collection.list.liquid with the 'view' query parameter.
{% endcomment %}
<div class="form-group">
    <ul class="nav nav-pills" vc-query-target="$collection.viewQuery">
        <li ng-class="{'active': $collection.viewQuery.view[0] === 'list'}">
            <a title="{{ 'collections.general.list_view' | t }}" vc-query-source="{ view: ['list'] }" switchable="false">
                <i class="fa fa-list-ul"></i>&ensp;
                <span>{{ 'collections.general.list_view' | t }}</span>
            </a>
        </li>
        <li ng-class="{'active': $collection.viewQuery.view[0] === 'grid'}">
            <a title="{{ 'collections.general.grid_view' | t }}" vc-query-source="{ view: ['grid'] }" switchable="false">
                <i class="fa fa-th"></i>&ensp;
                <span>{{ 'collections.general.grid_view' | t }}</span>
            </a>
        </li>
    </ul>
</div>
