  <div class="alert" ng-class="'alert-' + $ctrl.level" ng-if="$ctrl.message || $ctrl.errors">
    <p>{{ 'general.forms.post_error' | t }}</p>
    
    <p ng-if="$ctrl.message" ng-bind-html="$ctrl.message"></p>
    <ul class="list-styled" ng-if="$ctrl.errors">
        <li ng-repeat="error in $ctrl.errors" ng-bind-html="error"></li>
    </ul>
  </div>
