<div class="form-group" ng-class="{'keyuped': $ctrl.form[$ctrl.name].$viewValue.length }">
    <input ng-model="$ctrl.value"
           name="{% raw %}{{ $ctrl.name }}{% endraw %}"
           id="{% raw %}{{ $ctrl.name }}{% endraw %}"
           ng-attr-autofocus="{% raw %}{{ $ctrl.autofocus || undefined }}{% endraw %}"
           ng-focus="$ctrl.focused = true"
           ng-blur="$ctrl.focused = false"
           type="{% raw %}{{ $ctrl.type }}{% endraw %}"
           ng-required="$ctrl.required"
           ng-disabled="$ctrl.disabled"
           ng-pattern="$ctrl.pattern"
           ng-class="$ctrl.inputClass"
           class="form-control" />
    <label for="{% raw %}{{ $ctrl.name }}{% endraw %}" class="control-label" ng-bind="$ctrl.placeholder"></label>
</div>