<div class="form-group" ng-class="{'keyuped': $ctrl.form[$ctrl.name].$viewValue.length, 'has-error': ($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && $ctrl.form[$ctrl.name].$invalid }">
    <input ng-model="$ctrl.value"
           name="{% raw %}{{ $ctrl.name }}{% endraw %}"
           id="{% raw %}{{ $ctrl.name }}{% endraw %}"
           ng-attr-autofocus="{% raw %}{{ $ctrl.autofocus || undefined }}{% endraw %}"
           ng-focus="$ctrl.focused = true"
           ng-blur="$ctrl.focused = false"
           ng-required="$ctrl.required"
           ng-disabled="$ctrl.disabled"
           ng-pattern="$ctrl.pattern"
           ng-class="$ctrl.inputClass"
           type="{% raw %}{{ $ctrl.type }}{% endraw %}"
           content-type="{% raw %}{{ $ctrl.type }}{% endraw %}"
           class="form-control" />
    <label for="{% raw %}{{ $ctrl.name }}{% endraw %}" class="control-label" ng-bind="$ctrl.placeholder"></label>
    <span class="help-block text-danger" ng-if="($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && $ctrl.form[$ctrl.name].$error.required" ng-bind="$ctrl.requiredError || '{{ 'common.required' | t }}'"></span>
    <span class="help-block text-danger" ng-if="($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && !$ctrl.form[$ctrl.name].$error.required && $ctrl.form[$ctrl.name].$invalid">{{ 'common.invalid' | t }}</span>
</div>
