<div class="form-group" ng-class="{'keyuped': $ctrl.form[$ctrl.name].$viewValue, 'error': ($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && $ctrl.form[$ctrl.name].$invalid }">
    <!--<label for="{% raw %}{{ $ctrl.name }}{% endraw %}" class="form-label" ng-bind="$ctrl.placeholder"></label>-->
    <div uib-dropdown is-open="$ctrl.isOpen">
        <input uib-dropdown-toggle
                id="{% raw %}{{ $ctrl.name }}{% endraw %}"
                name="{% raw %}{{ $ctrl.name }}{% endraw %}"
                ng-attr-autofocus="{% raw %}{{ $ctrl.autofocus || undefined }}{% endraw %}"
                ng-required="$ctrl.required"
                ng-disabled="$ctrl.disabled"
                class="btn btn-default btn-block">
            <span ng-if="!$ctrl.value" class="form-placeholder">{% raw %}{{ $ctrl.placeholder }}{% endraw %}</span>
            <span ng-if="$ctrl.value">{% raw %}{{ $ctrl.value.raw || $ctrl.value.name || $ctrl.value | translate }}{% endraw %}</span>
            &ensp;<i class="fas fa-caret-down"></i>
        </input>
        <ul uib-dropdown-menu>
            <li ng-repeat="option in $ctrl.options">
                <a href="" ng-click="$ctrl.select(option)">
                    <span>{% raw %}{{ option.raw || option.name || option }}{% endraw %}</span>
                    <div class="form-description" ng-if="option.description">
                        {% raw %}{{ option.description | translate }}{% endraw %}
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <span class="form-error" ng-if="($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && $ctrl.form[$ctrl.name].$error.required" ng-bind="$ctrl.requiredError || '{{ 'common.required' | t }}'"></span>
    <span class="form-error" ng-if="($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted) && !$ctrl.form[$ctrl.name].$error.required && $ctrl.form[$ctrl.name].$invalid">{{ 'common.invalid' | t }}</span>
</div>
