<form class="navbar-form navbar-form-justify" method="get" action="{{ '/search' | absolute_url }}" role="search" autocomplete="off">
    <div class="input-group" uib-dropdown is-open="$ctrl.hasHint" dropdown-append-to-body="true">
        <input class="form-control" type="search" ng-model="$ctrl.query" placeholder="{% raw %}{{ $ctrl.placeholder }}{% endraw %}"
               uib-typeahead="suggestion as suggestion.name for suggestion in $ctrl.getSuggestions()" typeahead-is-open="$ctrl.isOpen" typeahead-wait-ms="100" typeahead-loading="$ctrl.isSearching" typeahead-no-results="$ctrl.hasNoResults"
               typeahead-template-url="search-bar-match.tpl" typeahead-popup-template-url="search-bar-popup.tpl" typeahead-append-to-body="true">
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li class="disabled" ng-show="$ctrl.isSearching"><a href="" ng-bind="$ctrl.searching"></a></li>
            <li class="disabled" ng-show="$ctrl.hasNoResults"><a href="" ng-bind="$ctrl.noResults"></a></li>
        </ul>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-bind="$ctrl.submitLabel"></button>
        </span>
    </div>
</form>
<script id="search-bar-match.tpl" type="text/ng-template">
    <a ng-href="{% raw %}{{ match.model.url }}{% endraw %}"
       tabindex="-1"
       ng-bind-html="match.label | uibTypeaheadHighlight:query"
       ng-attr-title="{{match.label}}"></a>
</script>
<script id="search-bar-popup.tpl" type="text/ng-template">
    <ul class="dropdown-menu" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" role="listbox" aria-hidden="{% raw %}{{!isOpen()}}{% endraw %}">
        <li class="dropdown-header" ng-repeat-start="(group, groupMatches) in matches | groupBy: 'model.within'" ng-bind="$parent.$parent.$ctrl[group + 'Label']"></li>
        <li class="uib-typeahead-match" ng-repeat="match in groupMatches track by $index" ng-repeat-end ng-class="{active: isActive(match.model.index) }" ng-mouseenter="selectActive(match.model.index)" ng-click="selectMatch(match.model.index, $event)" role="option" id="{% raw %}{{::match.id}}{% endraw %}">
            <div uib-typeahead-match index="match.model.index" match="match" query="query" template-url="templateUrl"></div>
        </li>
    </ul>
</script>
