<div class="dropdown-menu" uib-dropdown-menu>
    <div class="dropdown-head">
        <div class="radio radio-inline">
            <label>
                <input type="radio" ng-model="$ctrl.type" value="shipping">
                <span class="switch"></span>
                <span class="name">Shipping to</span>
            </label>
        </div>
        <div class="radio radio-inline">
            <label>
                <input type="radio" ng-model="$ctrl.type" value="pickup">
                <span class="switch"></span>
                <span class="name">Pickup</span>
            </label>
        </div>
    </div>
        <div class="dropdown-body" ng-init="changeData = false">
            <div class="form-group" ng-show="$ctrl.type === 'shipping'">
                <p ng-show="shipment.deliveryAddress.postalCode && !changeData">
                    Ship to <strong>{% raw %}{{ shipment.deliveryAddress.postalCode }}{% endraw %}</strong>
                    <a href="" ng-click="changeData = true">change</a>
                </p>
                <input type="text" class="form-control" ng-show="!shipment.deliveryAddress.postalCode || changeData" ng-model="shipment.deliveryAddress.postalCode">
            </div>
            <div class="form-group" ng-show="$ctrl.type === 'pickup'">
                <p ng-show="shipment.shipmentMethodCode === pickupMethodCode">
                    Ship to <strong>{% raw %}{{ shipment.fulfillmentCenterName  }}{% endraw %}</strong>
                </p>
                <a href="" ng-click="TODO">{% raw %}{{ shipment.shipmentMethodCode !== pickupMethodCode ? 'Select' : 'change' }}{% endraw %}</a>
            </div>
        </div>
    <div class="dropdown-foot">
        <a href="" ng-click="product['{{product.id}}'].isShipOrPickupOpen = false">Cancel</a>
        <a class="btn btn-default" href="" ng-click="$ctrl.save()">Save</a>
    </div>
</div>
