<div class="checkbox">
    <label>
        <input type="checkbox" title="Compare" ng-click="$ctrl.addProductToCompareList($event);" ng-checked="$ctrl.containProduct">
        <span class="switch"></span>
        <span class="name">Compare</span>
    </label>
</div>