<div class="modal-compare">
    <div class="compare-head">
        <div class="col-md-7">
            You have 1 out of 5 products to compare selected.
        </div>
        <div class="col-md-5">
            <div class="col-md-3 compare-clear">
                Clear all
            </div>
            <div class="col-md-6 compare-add">
                Add item <i class="fa fa-plus"></i>
                <div class="form-group group-flex">
                    <input type="text" class="form-control">
                    <a href="#" class="btn btn-primary">Add</a>
                </div>
            </div>
            <div class="col-md-3 compare-hide">
                Hide <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <div class="compare-body">
        <div class="col-md-8">
            <ul class="list">
                <li class="list-item">
                    <div class="list-img">
                        <a class="list-link" href="#">
                            <img src="https://static.grainger.com/rp/s/is/image/Grainger/6ZA41_AS01?$smmain$" alt="" class="list-pic">
                            <i class="list-remove fa fa-times-circle"></i>
                        </a>
                        <div class="list-t">
                            Item # <a href="#">2KVH6</a>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-img">
                        <div class="placeholder"></div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-img">
                        <div class="placeholder"></div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-img">
                        <div class="placeholder"></div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-img">
                        <div class="placeholder"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-default">View compare</a>
        </div>
    </div>
</div>
