<a class="text-uppercase text-condensed sample-show-hide" href="{{ 'compare' | absolute_url }}" ng-show="$ctrl.itemsCount > 0">
    <span class="fa fa-bar-chart"></span>
    {{ 'products.compare_list.compare' | t }} 
    <span class="visible-count" id="productCompareListCount" ng-bind="$ctrl.itemsCount"></span>
</a>